@model IEnumerable<OnlineTestWeb.Models.Đề_Thi>

@{
    ViewBag.Title = "Quản Lý Đề Thi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 style="color:blue; text-align:center; margin:15px 0;">Quản Lý Đề Thi</h2>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreateExam", "Teacher")' " "><i class="bi bi-plus"></i>Tạo mới  </button>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDe)
        </th>
        <th>
            Thời gian làm bài
        </th>
        <th>
            Bắt Đầu
        </th>
        <th>
            Kết Thúc
        </th>
        <th>
            Tất cả đề
        </th>
        <th>
            Đảo đáp án
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            Giáo viên
        </th>
        <th>
            Loại đề
        </th>
        <th>
            Môn
        </th>
        <th>
           Nhóm
        </th>
        <th>Tuỳ chỉnh</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianLamBai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDeThiDuocTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaoDapAn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giáo_Viên.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loại_Đề.TenLoaiDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Môn_Học.TenMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nhóm_Câu_Hỏi.TenNhom)
            </td>
            <td>
                @Html.ActionLink("Sửa", "EditExam", new { id = item.MaDe }) |
                @Html.ActionLink("Chi Tiết", "DetailsExam", new { id = item.MaDe }) |
                @Html.ActionLink("Xoá", "DeleteExam", new { id = item.MaDe })
            </td>
        </tr>
    }

</table>
