<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="https://kit.fontawesome.com/4e5140ee3b.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="container-fluid">
            <img src="~/Images/Banner.png"
                 alt=""
                 class="img-fluid"
                 style="height: 250px; width: 100%" />
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">ONLINE TEST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTRACT</a>
                    </li>
                </ul>
                <div class="ml-lg-auto" style="margin-left: auto !important; margin-right: 20px;">
                    <button class="btn btn-light " onclick="location.href='@Url.Action("Login",@ViewContext.RouteData.Values["controller"].ToString() )' " ) ">Đăng nhập</button>
                </div>
            </nav>

        </div>
    </header>
    <div class="row container-fluid">
        <div class="col-md-3">

            @Html.Action("GanMenu", @ViewContext.RouteData.Values["controller"].ToString())

        </div>
        <div class="col-md-9">
            @RenderBody()
            <br />
        </div>
    </div>
    @*<footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <img src="~/Images/Logo.png" alt="" class="" style="width:200px; height:200px;" />
                </div>
                <div class="col-9">
                    <p><i class="fa-sharp fa-solid fa-location-dot"></i>Địa Chỉ: 828 Sư Vạn Hạnh Phường 13 Quận 10 Thành Phố Hồ Chí Minh</p>
                    <p><i class="fa-solid fa-phone"></i>Phone: 0896329531 - 0703438249</p>
                    <p><i class="fa-solid fa-hashtag"></i>Mã: 20DH110715</p>
                    <P><i class="fa-solid fa-envelope"></i>Email: lorenkid107@gmail.com</P>
                </div>
            </div>
        </div>
    </footer>*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    

    @RenderSection("scripts", required: false)
</body>

</html>
