@model OnlineTestWeb.Models.Đề_Thi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Đề_Thi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianLamBai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianLamBai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDeThiDuocTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDeThiDuocTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaoDapAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaoDapAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giáo_Viên.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Giáo_Viên.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loại_Đề.TenLoaiDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loại_Đề.TenLoaiDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Môn_Học.TenMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Môn_Học.TenMon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nhóm_Câu_Hỏi.TenNhom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhóm_Câu_Hỏi.TenNhom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
