@model IEnumerable<OnlineTestWeb.Models.Đề_Thi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianLamBai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDeThiDuocTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaoDapAn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giáo_Viên.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Loại_Đề.TenLoaiDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Môn_Học.TenMon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nhóm_Câu_Hỏi.TenNhom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianLamBai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianBatDau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianKetThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoDeThiDuocTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaoDapAn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giáo_Viên.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loại_Đề.TenLoaiDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Môn_Học.TenMon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nhóm_Câu_Hỏi.TenNhom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDe }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDe }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDe })
        </td>
    </tr>
}

</table>
